<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <title>Curso de Gerontologia VI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css1/util.css">
        <link rel="stylesheet" type="text/css" href="css1/main.css">
        <!--===============================================================================================-->
    </head>

    <body>
        <form id="form-exames" action="/process_exames_form" method="post" enctype="application/x-www-form-urlencoded">
            <hr>
            <h2 class="text-center">VI CURSO DE GERONTOLOGIA - IPGG "JOSÉ ERMIRIO DE MORAES"</h2>

            <div class="container"  >
                <h3 class="text-center">CONTROLE DE FREQUENCIA<Form:post></Form:post></h3>

                <div class="container-table100">
                    <div class="column1">      
                        <h2>DATA</h2>   
                    </div>
                    <div class="column1">      
                        <h2>Presenca</h2>   
                    </div>
                </div>
    </body>
</html>
