<!DOCTYPE html>
<html lang="pt-br">
    <head>
	<title>VI CURSO DE GERONTOLOGIA</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
      <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="script.js"></script>
        <!--===============================================================================================-->
    </head>
    <body>
	
	<div class="limiter">
	    <div class="container-login100">
		<div class="wrap-login100">
		    <form class="login100-form validate-form">
			<span class="login100-form-title p-b-26">
			    <h2>VI CURSO DE GERONTOLOGIA</h2>
			    <h3>IPGG "JOSÉ ERMIRIO DE MORAES"</h3>
			</span>
			<span class="login101-form-title p-b-26">		
			    <h4>CONTROLE DE FREQUENCIA </h4>
			</span>
			
			

			<!-- ------------ TextField do email ------------ -->
			<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">

				<input id= "inputemail"class="input100" type="text" name="email">
				
			    <span class="focus-input100" data-placeholder="Email"></span>
			</div>
			<!-- -------------------------------------- -->

			<!-- ------------ TextField da senha ------------ -->
			<div class="wrap-input100 validate-input" data-validate="Enter password">
			    <span class="btn-show-pass"><i class="zmdi zmdi-eye"></i></span>
				
				<input id= "inputpasswd" class="input100" type="password" name="pass">
				
			    <span class="focus-input100" data-placeholder="Password"></span>
			</div>
			<!-- -------------------------------------- -->

			<!-- ------------  Botao de login ------------ -->
			<div class="container-login100-form-btn">
			    <div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>

				<button class="login100-form-btn" type="button" 
				onclick= "verificarLogin()">
				    Login
				</button>

				</div>
			</div>

			<!-- -------------------------------------- -->

			<!-- <div class="text-center p-t-115">
			     <span class="txt1">
			     Don’t have an account?
			     </span>
			     <a class="txt2" href="#">
			     Sign Up
			     </a>
			-->	
		</div>
		    </form>
	    </div>
	</div>
	</div>
		
    </body>
</html>